# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# env
.env
.env.*
*.env
!.env.example

# venv
venv/
env/
.venv/

# pytest
.pytest_cache/
*.pyc

# node
node_modules/

# ide
.vscode/
.idea/

# os
.DS_Store
